#u69
{
	background: #0B0BA8 url("../images/u69-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(4%, #EBEBF6),to(#0B0BA8));
	background: -webkit-linear-gradient(top,#EBEBF6 4%,#0B0BA8 );
	background: -moz-linear-gradient(top,#EBEBF6 4%,#0B0BA8 );
	background: -ms-linear-gradient(top,#EBEBF6 4%,#0B0BA8 );
	background: -o-linear-gradient(top,#EBEBF6 4%,#0B0BA8 );
	background: linear-gradient(to bottom,#EBEBF6 4%,#0B0BA8 );
	border-style: none;
	border-color: transparent;
	opacity: 0.33;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=33)";
	filter: alpha(opacity=33);
	position: relative;
}

#u71-4
{
	line-height: 29px;
	color: #1B1464;
	font-size: 24px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u108-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #1B1464;
	text-align: center;
	font-size: 14px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u105:hover #u108-4 p
{
	font-weight: bold;
}

#u105:active #u108-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	font-weight: bold;
}

#u115-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #1B1464;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u114:hover #u115-4 p
{
	font-weight: bold;
}

#u114:active #u115-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	font-weight: bold;
}

#u183-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #1B1464;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u182:hover #u183-4 p
{
	font-weight: bold;
}

#u182:active #u183-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	font-weight: bold;
}

#u150-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #1B1464;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u149:hover #u150-4 p
{
	font-weight: bold;
}

#u149:active #u150-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	font-weight: bold;
}

#menuu103,#u104,#u105,#u111,#u114,#u179,#u182,#u146,#u149,#u153
{
	position: relative;
}

#u156
{
	background-color: transparent;
	position: relative;
}

#u159-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #1B1464;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u156:hover #u159-4 p
{
	font-weight: bold;
}

#u156:active #u159-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	font-weight: bold;
}

#u105.MuseMenuActive #u108-4 p,#u114.MuseMenuActive #u115-4 p,#u182.MuseMenuActive #u183-4 p,#u149.MuseMenuActive #u150-4 p,#u156.MuseMenuActive #u159-4 p
{
	color: #1B1464;
	visibility: inherit;
	font-weight: bold;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u186
{
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../images/logo-azul%20300x139.png") no-repeat center center;
	background-size: contain !important;
}

#u70
{
	border-style: none;
	border-color: transparent;
	background-color: #EAEAF7;
	position: relative;
}

